.verticalProgressContainer {
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.progessContainer {
    user-select: none;
    display: flex;
    flex-direction: row;
}

.progressBarVertical {
    user-select: none;
    width: 6vw;
    height: 40vh;
    background-color: #eee;
}

.tierBarVertical {
    user-select: none;
    width: 1vw;
    height: 40vh;
    margin-left: 1px;  
    background-color: #fc0;
}

.verticalBarButton {
    user-select: none;
    display: grid;
    white-space: nowrap;
    place-items: center;
    margin-top: 1vw;
    background-color: #444;
    color: #eee;
    width: 5vw;
    height: 3vh;
}

#testDisplay {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}

.formationMenu{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.gatherMenu {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cultivationSelector{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cultivationSelectorButton{
    user-select: none;
    display: grid;
    white-space: nowrap;
    place-items: center;
    margin-top: 2vh;
    background-color: #444;
    color: #eee;
    width: 5vw;
    height: 3vh;
}

.elementSubMenu {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}

.awakeningSubMenu {
  width: 100%;
  height: 100%;
  display: flex;
}

#awakeningCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: space-between;
}

.formationBars {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: none;
}

.dustSliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.levelDisplay {
  margin-bottom: 1vh;
}

.convertDustDisplay {
  width: 2vw;
  margin-left: 1vw;
}

.slideBody {
  width: 100%;
}

.progressCenter {
  width: 100%;
  height: 100%;
  background: conic-gradient(#000000 0deg, transparent 0deg);
}





.slider {
  -webkit-appearance: none;
  width: 40vw;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
}